<!-- prettier-ignore -->
{% extends "layout.html" %}


{% block title %}
{{ title }}
{% endblock %}


{% block body %}
<h1>{{title}}</h1>
<div class="form-group">
  <label for="">Chọn sinh viên</label>

  <select name="student_id" class="form-control">
    {% for student in students %}
    <option value="{{ student.id }}">
      <div>{{student.fullname}}</div>
    </option>
    {% endfor %}
  </select>
</div>

<div class="form-group">
  <label for="">Chọn môn học:</label>

  <select name="subject_id" class="form-control">
    {% for subject in subjects %}
    <option value="{{ subject.id }}">
      <div>
          {{subject.name}}</div>
      </div>
    </option>
    {% endfor %}
  </select>
</div>

<div class="form-group">
    <button>Xem hành khách trên chuyến bay</button>
</div>
{% endblock %}
