{% extends "layout.html" %} {% block title %} change student {% endblock %} {%
block body%}
<h1></h1>
<table class="table">
  <tr>
    <th>studentID</th>
    <th>fullname</th>
    <th>gender</th>
    <th>brith</th>
    <th>address</th>
  </tr>
  {% for student in students %}
  <tr>
    <td>{{student.id}}</td>
    <td>{{student.fullname}}</td>
    <td>{{student.gender}}</td>
    <td>{{student.dob}}</td>
    <td>{{student.address}}</td>
  </tr>
  {% else %}
  <h1>No results</h1>
  {% endfor %}
</table>

{% endblock %}
