<!-- prettier-ignore -->
{% extends "layout.html" %}

{% block title %} Log In {% endblock %}

{%block body %}
<h1>{{title}}</h1>
<form action="" method="post" class="min-form">
  {{ form.hidden_tag() }}
  <p>
    <!-- prettier-ignore -->
    {{ form.code.label(class="form-label") }}
    {{ form.code(class="form-control") }}
    {% for error in form.code.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    <!-- prettier-ignore -->
    {{ form.password.label(class="form-label") }}
    {{ form.password(class="form-control") }}
    {% for error in form.password.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  </p>
  <div class="input-text">
    <p>
      <!-- prettier-ignore -->
      {{ form.remember_me() }} {{ form.remember_me.label(class="form-label") }}
    </p>
  </div>
  <p>
    <!-- prettier-ignore -->
    {{ form.submit(class="btn btn-primary") }}
  </p>
  <p>
    <!-- prettier-ignore -->
    New User? <a href="{{ url_for('signUp') }}">Click to Register!</a>
  </p>
</form>
{% with messages = get_flashed_messages() %}
<h2>{{messages[0]}}</h2>
{% endwith %} {% endblock %}
