{% extends "layout.html" %} {% block title %} Log In example {% endblock %} {%
block body %}
<h1>Sign In</h1>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.name.label }}<br />
    {{ form.name(class="form-control") }}<br />
    {% for error in form.name.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.password.label }}<br />
    {{ form.password(class="form-control") }}<br />
    {% for error in form.password.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  </p>
  <div class="input-group-text">
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
  </div>
  <p>{{ form.submit(class="btn btn-primary") }}</p>
  <p>Sign up <a href="{{ url_for('wtf_singUp') }}">Click to Register!</a></p>
</form>
{% with messages = get_flashed_messages() %}
<h2>{{messages[0]}}</h2>
{% endwith %} {% endblock %}
