<!-- prettier-ignore -->
{% extends "layout.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block body %}
<h1>Sign up new user</h1>

<form action="" method="post" class="min-form">
  {{ form.hidden_tag() }}
  <p>
    <!-- prettier-ignore -->
    {{ form.code.label(class="form-label") }}
    {{ form.code(class="form-control") }}
    {% for error in form.code.errors %}
    <span style="color: red">{{ error }}</span>
    {% endfor %}
  </p>
  <p>
    <!-- prettier-ignore -->
    {{ form.password.label(class="form-label") }}
    {{ form.password(class="form-control")}}
    {% for error in form.password.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    <!-- prettier-ignore -->
    {{ form.rePassword.label(class="form-label") }}
    {{ form.rePassword(class="form-control") }}
    {% for error in form.rePassword.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    <!-- prettier-ignore -->
    {{ form.submit(class="btn btn-primary") }}
  </p>
</form>
{% endblock %}
